
@charset "utf-8";
/* CSS Document */

* { margin:0; padding:0;}
html, body { width:100%; height:100%;}
body,ul,li,dl,dt,dd,p,span,textarea,input,select,strong,th,td { font-family:"Verdana",Dotum,Helvetica,AppleGothic,Sans-serif; font-style:inherit; color:inherit;}
body { font:.75em/1.5em "Verdana",Dotum,Helvetica,AppleGothic,Sans-serif; color:#666;;}
img {border:0; cursor:pointer;}

            #boxcard {
                margin: 0 auto;
                width: 980px;
				top: 0;
                z-index: 1;
            }

            #boxcard div {
                float: left;
                width: 245px;
                height: 203px;
                background: url(images/game/card_back.png) no-repeat;
                cursor: pointer;
                z-index: 2;
            }

            #boxcard div img {
                border: none;
                z-index: 3;
            }

            .opacity {
                opacity: .6;
                filter: alpha(opacity=60);
            }

            #boxbutton {
                text-align: center;
                padding: 10px 20px 20px 20px;
				clear:both;
            }
            .link {
                font-size: 18px;
                color: #ffffff;
                text-decoration: none;
                background: #0066cc;
                padding: 5px 10px;
                -webkit-border-radius: .5em;
                -moz-border-radius: .5em;
                border-radius: .5em;
            }
            .link:hover {
                background: #999;
            }

.cardNo {position:absolute; z-index:50000; color:#fff; background:#003cff; width:23px; height:23px; font: bold 14px/23px Verdana; text-align:center;}